.ui-1{
	background-image: url(../../src/assets/icons/1.png);
	width: 56px;
	height: 68px;
}

.ui-2{
	background-image: url(../../src/assets/icons/2.png);
	width: 56px;
	height: 68px;
}

.ui-3{
	background-image: url(../../src/assets/icons/3.png);
	width: 56px;
	height: 68px;
}

.ui-4{
	background-image: url(../../src/assets/icons/4.png);
	width: 56px;
	height: 68px;
}

.ui-5{
	background-image: url(../../src/assets/icons/5.png);
	width: 56px;
	height: 68px;
}

.ui-icon{
	background-image: url(../../src/assets/icons/icon.png);
	width: 56px;
	height: 68px;
}

.ui-icon{
	background-image: url(../../src/assets/icons/icon_hover.png);
	width: 56px;
	height: 68px;
}
.ui-icon:hover{
	background-image: url(../../src/assets/icons/icon_hover.png);
}

.ui-base64{
	background-image: url(../../src/assets/base64.png);
	width: 40px;
	height: 40px;
}

.ui-css{
	background-image: url(../../src/assets/css.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 203rem;
	height: 299rem;
}

.ui-html{
	background-image: url(../../src/assets/html.jpg);
	width: 630px;
	height: 1200px;
}

.ui-image{
	background-image: url(../../src/assets/image.png);
	width: 1920px;
	height: 1128px;
}

.ui-import{
	background-image: url(../../src/assets/import.jpg);
	width: 2976px;
	height: 4175px;
}

.ui-icons-sprites-test{
	background-image: url(../../src/assets/sprites/icons-sprites-test.png);
	width: 224px;
	height: 136px;
}

.ui-icons-sprites{
	background-image: url(../../src/assets/sprites/icons-sprites.png);
	width: 224px;
	height: 136px;
}

.ui-_2{
	background-image: url(../../src/assets/图片_2.jpg);
	width: 1920px;
	height: 1080px;
}